In [1]:
import pandas as pd 
import numpy as np

In [2]:
from io import StringIO
from datetime import date as Date

In [3]:
import os
import re

In [4]:
# read in game-level data
games_df = pd.read_csv('data_files/season-level-stats-2018.csv')

# read in player-level data
players_df_map = {}
players_fname_pattern = re.compile('game_(201(8|9)-\d{2}-\d{2}).csv')
fpath_pref = 'data_files/game-level-stats-2018/'

for fname in os.listdir(fpath_pref):
    re_search = re.search(players_fname_pattern, fname)
    if re_search:
        date = re_search.group(1)
        player_df = pd.read_csv(fpath_pref + fname)
        players_df_map[date] = player_df

In [5]:
players_df_map['2019-04-06']

,Rk,Player,G,A,PTS,+/-,PIM,EV,PP,SH,GW,EV.1,PP.1,SH.1,S,S%,SHFT,TOI
0,1,Connor Brown,0,0,0,-1,0,0,0,0,0,0,0,0,0,NaN,17,10:27
1,2,Jake Gardiner,1,0,1,2,2,1,0,0,0,0,0,0,3,33.3,35,26:35
2,3,Frederik Gauthier,0,1,1,-1,0,0,0,0,0,1,0,0,0,NaN,17,10:30
3,4,Justin Holl,0,0,0,3,0,0,0,0,0,0,0,0,3,0.0,23,15:00
4,5,Zach Hyman,1,1,2,2,0,1,0,0,0,1,0,0,2,50.0,24,15:03
5,6,Andreas Johnsson,0,1,1,-1,0,0,0,0,0,1,0,0,3,0.0,24,17:27
6,7,Nazem Kadri,0,1,1,1,0,0,0,0,0,1,0,0,4,0.0,24,16:58
7,8,Kasperi Kapanen,1,0,1,-1,0,1,0,0,0,0,0,0,2,50.0,25,19:00
8,9,Martin Marinčin,0,0,0,0,0,0,0,0,0,0,0,0,3,0.0,31,21:51
9,10,Patrick Marleau,0,0,0,1,0,0,0,0,0,0,0,0,5,0.0,24,17:47
10,11,Mitch Marner,0,1,1,2,0,0,0,0,0,1,0,0,2,0.0,27,17:34
11,12,Auston Matthews,0,1,1,-1,0,0,0,0,0,1,0,0,6,0.0,26,20:03
12,13,Trevor Moore,1,0,1,-1,0,1,0,0,0,0,0,0,2,50.0,17,10:57
13,14,William Nylander,1,0,1,1,0,1,0,0,0,0,0,0,3,33.3,25,17:38
14,15,Igor Ozhiganov,0,0,0,-1,0,0,0,0,0,0,0,0,0,NaN,17,12:58
15,16,Morgan Rielly,0,0,0,-1,0,0,0,0,0,0,0,0,2,0.0,31,26:47
16,17,Calle Rosén,0,0,0,-1,0,0,0,0,0,0,0,0,1,0.0,33,20:10
17,18,John Tavares,0,0,0,2,0,0,0,0,0,0,0,0,8,0.0,26,18:22
18,19,Frederik Andersen,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,0,64:47

In [12]:
games_df[games_df['Date'] == '2019-04-06']

,GP,Date,Home/Away,Opponent,GF,GA,W/L,OT,S,PIM,...,CA,CF%,FF,FA,FF%,FOW,FOL,FO%,oZS%,PDO
81,82,2019-04-06,@,Montreal Canadiens,5,6,L,SO,49,2,...,68,53.7,59,58,50.4,32,39,45.1,53.7,102.4

In [6]:
print('done')

done