In [1]:
from bs4 import BeautifulSoup

In [2]:
import pandas as pd 
import numpy as np

In [3]:
from io import StringIO
from datetime import date as Date

In [18]:
df = pd.read_csv('season-stat-table1.csv', skiprows=1, index_col=0)

In [19]:
df.head()

,Date,Unnamed: 2,Opponent,GF,GA,Unnamed: 6,Unnamed: 7,Unnamed: 8,S,PIM,...,CA,CF%,FF,FA,FF%,FOW,FOL,FO%,oZS%,PDO
GP,,,,,,,,,,,,,,,,,,,,,
1,2018-10-03,NaN,Montreal Canadiens,3,2,W,OT,NaN,26,8,...,63,43.8,35,42,45.5,32,18,64.0,35.3,105.8
2,2018-10-06,NaN,Ottawa Senators,3,5,L,NaN,NaN,37,4,...,36,67.9,51,30,63.0,34,33,50.7,65.2,84.9
3,2018-10-07,@,Chicago Blackhawks,7,6,W,OT,NaN,34,6,...,64,44.8,38,38,50.0,27,26,50.9,43.3,100.0
4,2018-10-09,@,Dallas Stars,7,4,W,NaN,NaN,30,2,...,54,52.6,45,44,50.6,26,29,47.3,50.0,109.4
5,2018-10-11,@,Detroit Red Wings,5,3,W,NaN,NaN,35,13,...,50,42.5,34,41,45.3,27,26,50.9,53.1,100.5